HeavyClient/Connected Services/RoutingSoapProxy/soap1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RoutingServiceLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoutingServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9002/soap?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RouteResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="legs" nillable="true" type="tns:ArrayOfRouteLeg" />
      <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalDistanceMeters" type="xs:double" />
      <xs:element minOccurs="0" name="totalDurationSeconds" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteResult" nillable="true" type="tns:RouteResult" />
  <xs:complexType name="ArrayOfRouteLeg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RouteLeg" nillable="true" type="tns:RouteLeg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRouteLeg" nillable="true" type="tns:ArrayOfRouteLeg" />
  <xs:complexType name="RouteLeg">
    <xs:sequence>
      <xs:element minOccurs="0" name="distanceMeters" type="xs:double" />
      <xs:element minOccurs="0" name="durationSeconds" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="geometry" nillable="true" type="q1:ArrayOfArrayOfdouble" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="instructions" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteLeg" nillable="true" type="tns:RouteLeg" />
</xs:schema>